.review-card{
    height: 180px;
    width: 400px;
    border: 3px solid rgb(18, 6, 154);
    display: flex;
    border-radius: 6px;
}
.review-card img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.review-container{
    margin: 5px;
    padding: 5px;
}

@media only screen and (max-width:520px){
    .review-card{
        height: 160px;
        width: 380px;
    }
    .review-card img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
}
