.home-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
}
.img-section img{
    width: 600px;
}
.text-section{
    width: 600px;
}

.text-orange{
    color: rgb(203, 13, 102);
    font-size: 55px;
    margin: 0px;
}
.text-purple{
    color: rgb(45 134 188);
    font-size: 55px;
}
.reviews{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    align-content: stretch;
}
.reviews-container{
    margin-bottom: 50px;
}
@media only screen and (max-width:520px) {
    .home-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        align-content: space-between;
        flex-direction: column-reverse;
    }
    .reviews {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: nowrap;
        align-content: space-between;
        flex-direction: column;
    }
    .img-section img {
        width: 300px;
    }
    
    .text-section {
        width: auto;
        
    }
    
    .text-orange {
        color: rgb(203, 13, 102);
        font-size: 35px;
        margin: 0px;
    }
    
    .text-purple {
        color: rgb(45 134 188);
        font-size: 35px;
    }


}