.footer-container{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(45 134 188);
    color: white;
    text-align: center;
}
svg{
    font-size: 25px;
    margin: 10px;
}
svg:hover {
    color: rgb(161, 119, 201);
    margin: 10px;
}